.block_div {
    outline: 1px solid #666;
    margin-bottom: 10px;
}

.block_div p {
    display: inline;
}
.phrases_parts_block p {
    display: inline;
}

.create_phrase_block {
    outline: 1px solid #666;
    margin-bottom: 10px;
}

.dicts_inline {
    display: inline;
}

#id_content {
    display: block;
}

.left_menu {
    height: 100%; /* высота нашего блока */
    width: 300px; /* ширина нашего блока */
    overflow-y: auto;
    overflow-x: auto;
    float: left;
}

.dict_name {
    border: 1px solid black;
    margin-top: 3px;
}