<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            {{ title|title }}
        {% endblock %}
    </title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% endblock %}
</head>
<body>
    <div class="condition_desc">
        <h1>{{ condition.name }}</h1>
        <h3>{{ condition.description }}</h3>
    </div>
    <div class="condition_tree">
        {% for object in object_list %}
            <div class="block_div">
                <p>basic phrase: "{{ object.basic_phrase }}"</p>
                <div class="phrases_parts_block">
                    <p>phrases parts: </p>
                    <div class="dicts_inline">
                        {% for phrase_part_key, phrase_part_value in phrases_parts_for_block.items %}
                            {% if phrase_part_key == object.pk %}
                                {% for clear_part in phrase_part_value %}
                                     <a href="{% url 'dictapp:concrete_rule' clear_part.pk %}">{{ clear_part.name }}</a>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="phrases_parts_exclude_block">
                    <p>phrases parts exclude: </p>
                    <div class="dicts_inline">
                        {% for phrase_part_exclude_key, phrase_part_exclude_value in phrases_parts_exclude_for_block.items %}
                            {% if phrase_part_exclude_key == object.pk %}
                                {% for clear_part_ex in phrase_part_exclude_value %}
                                     <a href="{% url 'dictapp:concrete_rule' clear_part_ex.pk %}">{{ clear_part_ex.name }}</a>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="phrases_exact_for_block">
                    <p>phrases exact: </p>
                    <div class="dicts_inline">
                        {% for phrases_exact_key, phrases_exact_value in phrases_exact_for_block.items %}
                            {% if phrases_exact_key == object.pk %}
                                {% for clear_part_exact in phrases_exact_value %}
                                     <a href="{% url 'dictapp:concrete_rule' clear_part_exact.pk %}">{{ clear_part_exact.name }}</a>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="next_state_for_block">
                    <p>next state: </p>
                    <div class="dicts_inline">
                        {% for next_state_key, next_state_value in next_state_for_block.items %}
                            {% if next_state_key == object.pk %}
                                <p>{{ next_state_value }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="block_icons">
                    <a href="#">изменить</a>
                    <a href="{% url 'phrase_cond_app:phrase_block_delete' object.pk %}">удалить</a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% block js %}
    {% endblock %}
</body>
</html>