<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            {{ title|title }}
        {% endblock %}
    </title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% endblock %}
</head>
<body>
    <div class="container">
        <div class="left_menu">
            <h1>Список словарей</h1>
            {% for object in all_rules %}
                <div class="dict_name">
                    <a href="{% url 'dictapp:concrete_rule' object.pk %}">{{ object.name }}</a>
                </div>
            {% endfor %}
        </div>
        <form class="rule_content_update" method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <input type="submit" value="Применить">
        </form>
    </div>
    {% block js %}
    {% endblock %}
</body>
</html>