<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            {{ title|title }}
        {% endblock %}
    </title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% endblock %}
</head>
<body>
    <div class="container">
        <div class="left_menu">
            {% for object in object_list %}
                <div class="dict_name" style="border: 1px black;">
                    <a href="{% url 'dictapp:concrete_rule' object.pk %}">{{ object.name }}</a>
                </div>
            {% endfor %}
        </div>
        <div class="rule_content">
            {{ concrete_rule.content }}
        </div>
    </div>
    {% block js %}
    {% endblock %}
</body>
</html>